* {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
}

body {
    background-color: #eee!important;
}

ul {
    list-style-type: none;
}

.cursor {
    cursor: pointer;
}

::selection {
    background: #F2D6BF;
    color: black;
    text-shadow: none;
}

::-moz-selection {
    background: #F2D6BF;
    color: #EEE;
    text-shadow: none;
}

.font_600 {
    font-weight: 600;
}

*, :after, :before {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    background-color: #fff0;
    border-radius: 8px;
    height: 6px;
    width: 6px;
}

html::-webkit-scrollbar-track {
    background-color: #fff0;
}

html::-webkit-scrollbar-button {
    display: none;
}